/* Importing Fonts  */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Tagesschrift&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");

:root {
  --active-link-color: #596922;
  --hover-link-color: #18af78;
  --nav-main-color: #777;
}
/* Css Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header  */
/* Navbar  */

.header {
  padding: 10px;
  position: sticky;
  top: 0px;;
  background-color: rgb(241, 218, 189);
}
.header .navbar ul {
  display: flex;
  justify-content: space-evenly;
  width: 560px;
  margin: auto;
  align-items: center;
  padding: 10px;
}
.header .navbar ul li {
  list-style-type: none;
}
.header .navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "EB Garamond", serif;
  font-size: 12px;
  color: var(--nav-main-color);
}
.header .navbar ul li a:hover {
  color: var(--hover-link-color);
}
/* Navbar ends  */
/* Logo  */
.logo {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.logo h1 {
  font-family: "Style Script", cursive;
  font-size: 66px;
  color: #797373;
  font-weight: 300;
}
/* Logo ends  */
/* Header ends  */
/* Cards  */
.card-container {
  display: flex;
  justify-content: space-around;
  border-top: 3px solid rgb(223, 221, 221);
  border-top-style: double;
}
.card-container h3{
  font-family: cursive;
  font-size: 32px;
  color: #797373;
  font-weight: 100;

}
.card-container{
  padding: 40px;
  margin: 40px 10px;
}
.card-container .card{
width: 20%;
height: 180px;
}
.card-container .card p{
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #797373;
}
.card-container .card:hover{
  box-shadow: rgba(149, 149, 175, 0.25) 0px 50px 100px -20px, rgba(190, 165, 165, 0.3) 0px 30px 60px -30px;
  cursor: pointer;
}
/* Cards Ends  */
/* About  */
.about{
  padding: 24px;
  width: 50vw;
  margin: auto;
  margin-top: 100px;
}
.about h1{
font-family: cursive;
color:#797373;
font-weight: 100;
padding: 6px;
margin: 2px 0px;
}
.about p{
  color: #797373;
  font-family: sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 6px;
}
/* About us ends  */
/* Work with us section  */
.work-with-me{
  width: 60vw;
  margin: auto;
  padding: 22px;
  margin-bottom: 22px;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #596922;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #18af78;
}
label{
  font-size: 12px;
  font-family:"EB Garamond", serif ;
  color: #596922;
}
.work-with-me div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.work-with-me h1{
  font-family:cursive ;
  font-weight: 100;
  padding: 8px;
  color: #797373;
}