/* Header  */
header nav {
  display: flex;
  justify-content: space-around;
  padding: 16px 6px;
  align-items: center;
}
.logo h1 {
  font-size: 34px;
  color: #fe5000;
  font-family: "Playwrite HU";
}
.nav-list ul {
  display: flex;
}
.nav-list ul li {
  margin-left: 12px;
  padding: 0px 14px;
  list-style-type: none;
}
.nav-list ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #1d2939;
  font-family: Plus Jakarta Sans;
}
.nav-list ul li a:hover {
  color: #fe5000;
}
header main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 24px;
}
.left-section {
  width: 30%;
  padding: 12px 16px;
}
.left-section h1 {
  color: #121212;
  font-family: Plus Jakarta Sans;
  font-size: 34px;
  padding: 12px;
}
.left-section p {
  color: #667085;
  font-family: Manrope;
  font-size: 16px;
  padding: 0px 12px;
}
.left-section button {
  background-color: #f76631;
  padding: 12px 16px;
  margin: 10px;
  border: none;
  border-radius: 7px;
  color: #fff;
  font-family: Plus Jakarta Sans;
}
.left-section button:hover {
  box-shadow: 5px 5px 5px rgb(231, 229, 229);
}
.right-section .card1 {
  background-color: #f7f6f6;
  box-shadow: 5px 2px 5px grey;
  padding: 10px;
  width: 200px;
  text-align: center;
  position: relative;
  top: 60px;
  right: 100px;
  color: #344054;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  border-radius: 7px;
}
.right-section .card2 {
  background-color: #fe5000;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  border-radius: 7px;
  width: 200px;
  border: 3px solid #fe5000;
  text-align: center;
  position: relative;
  bottom: 60px;
  left: 280px;
  color: #fff;
}
.right-section .card2 .innercard {
  background-color: #ffffff;
  padding: 8px;
  color: #f76631;
}
/* Header  */
/* Main  Cards  */
main .card-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #0a0a0a;
  border-radius: 16px;
  width: 80vw;
  margin: auto;
  padding: 12px 0px;
}
main .card-container .card {
  width: 180px;
  color: #fff;
  border-radius: 16px;
  transition: transform 1s;
}
main .card-container .card img {
  padding: 16px;
}
main .card-container .card h2 {
  font-family: Plus Jakarta Sans;
  font-size: 22px;
  padding: 12px;
}
main .card-container .card p {
  font-family: Manrope;
  padding: 12px;
  font-size: 14px;
}
main .card-container .card:hover {
  transform: scale(1.5);
  background-color: #f76631;
}
/* Main Cards  */
/* Banner  */
.banner {
  display: flex;
  justify-content: space-evenly;
  width: 80vw;
  margin: 52px auto;
}
.banner .left-section {
  width: 40%;
  padding: 22px;
}
.banner .right-section {
  width: 40%;
  padding: 22px;
}
.banner .right-section h1 {
  color: #101828;
  font-family: Plus Jakarta Sans;
  font-size: 34px;
  padding: 16px;
}
.banner .right-section .images{
  display: flex;
  margin-top: 32px;
}
.banner .right-section .images .box{
  margin-right: 22px;
  background-color: #FEE6DC;
  padding: 22px;
  border-radius: 16px;
}
.banner .right-section .images .box:hover{
  background-color: #F76631;
}
/* Banner  */
/* Recipes  */
.recipes{
  width: 100vw;
}
.recipes h1{
  font-family: Plus Jakarta Sans;
  font-size: 34px;
  color: #121212;
  margin: 22px;
}
.recipes .card-container{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.recipes .card-container .card{
  width: 250px;
}
.recipes .card-container .card .texts{
   border: 2px solid #EAECF0 ;
   padding: 12px;
   border-radius: 12px;
   padding-top: 22px;
}
.recipes .card-container .card img{
  border: 2px solid #EAECF0;
  border-radius: 50%;
  padding: 12px;
  position: relative;
  top: 12px;
}
.recipes .card-container .card .texts h2{
  padding: 22px;
  margin-top: 20px;
  font-family: Plus Jakarta Sans;
  color: #1D2939;
}
.recipes .card-container .card .texts p{
  font-family: Manrope;
  padding:0px 22px;
  color: 667085;
  font-size: 14px;
}
.recipes .card-container .card .texts a{
  text-decoration: none;
  color: #F76631;
  padding: 12px 22px;
  font-family: Plus Jakarta Sans;
  font-size: 14px;
}