header nav{
    display: flex;
    justify-content: space-around;
    padding: 16px 6px;
    align-items: center;
}
.logo h1{
    font-size: 34px;
    color: #FE5000;
    font-family: "Playwrite HU";
}
.nav-list ul{
    display: flex;
}
.nav-list ul li{
    margin-left: 12px;
    padding: 0px 14px;
    list-style-type: none;
}
.nav-list ul li a{
    text-decoration: none;
    font-size: 18px;
    color:#1D2939 ;
    font-family:Plus Jakarta Sans;
}
.nav-list ul li a:hover{
    color: #FE5000;
}