/* Importing Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital@0;1&display=swap');


:root{
    /* Colors  */
    --primary-color : #FE5000;
    --text-color:#1D2939;
    --secondary-color:#F76631;
    --header-text-color:#121212;
    --small-card-bg-color:#FEE6DC;
    --cards-text-color:#667085;
}